.blur{
    background: var(--Black);
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 222;
}
@media screen and (max-width:785px) {
    .blur{
        display: block;
    }
}