.thumbnails{
    flex-direction: column;
    gap: 35px;
    display: none;
    flex-basis: 50%;
}
.Selected__photo{
    display: flex;
    cursor: pointer;
}
.Selected__photo img{
    width: 100%;
    border-radius: 10px;
}
.group__photo{
    display: flex;
    justify-content: space-between;
}
.group__photo{
    gap: 30px;
}
.img__div{
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    border: 3px solid transparent;
}
.img__div.selected{
    border-color: var(--Orange);
}
.img__div img.selected__inside{
    opacity: 0.3;
}
.img__div img{
    width: 100px;

}

@media screen and (min-width:900px) {
    .large_screen{
        display: flex;
        gap: 50px;
        max-width: 1100px;
        padding: 75px 0;
    }
    .thumbnails{
        display: flex;
    }
    .mobile__slider__container{
        display: none !important;
    }
    .product_container{
        flex-basis: 50%;
        justify-content: center;
    }



}
@media (max-width:950px) and (min-width:900px) {
    .large_screen{
        gap: 20px;
    }
    .group__photo{
        gap:10px;
    }
}